@import 'sass-rem';

$base-raduis: rem(60px);

button {
  border: none;
  outline: none;
}

.btn {
  border: none;
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
  padding: rem(10px 20px);
  margin: rem(5px);
  cursor: pointer;
  display: inline-flex;
  box-sizing: content-box;
  justify-content: center;
}

.btn:hover {
  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.2);
}

.chubby {
  border-radius: $base-raduis;
}

.round {
  padding: 0;
  border-radius: 50%;
  height: $base-raduis;
  width: $base-raduis;
}

.btn-xs {
  font-size: 60%;
  padding: rem(4px 8px);
}

.btn-sm {
  font-size: 80%;
  padding: rem(8px 16px);
}

.btn-lg {
  font-size: 120%;
  padding: rem(15px 30px);
}

.btn-xl {
  font-size: 140%;
  padding: rem(20px 40px);
}
