<app-hero></app-hero>
<div class="text-center">
  <p class="title">Welcome to Pizzeria and Grillz Bayelsa!</p>
  <app-button
    [label]="'View Menu'"
    chubby="true"
    color="accent"
    (clickAction)="logSomething($event)"
    classNames="btn-xl"
  ></app-button>

  <a class="btn" routerLink="/menu">View Menu</a>
</div>
