// functions
@import '../../styles/colors/color-functions.scss';

header {
  margin: 0;
  width: 100%;
}

nav {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.topnav {
  background: theme-color();
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  color: white;
  height: 50px;
}

.left-nav {
  flex: 4;
  display: flex;
  justify-items: center;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  flex: 8;
}

.brand {
  font-weight: bold;
  font-size: 110%;
}

.nav-item {
  padding: 15px 25px;
  cursor: pointer;
  box-sizing: content-box;
}
