<header>
  <nav class="topnav">
    <div class="left-nav">
      <button mat-button routerLink="" class="brand nav-item">
        Pizzeria
      </button>
    </div>

    <div class="right-nav">
      <button mat-button routerLink="/menu" class="nav-item">
        Menu
        <mat-icon>dialpad</mat-icon>
      </button>

      <div *ngIf="isAuthenticated; then userLinks; else authLinks"></div>

      <ng-template #userLinks>
        <button mat-button class="nav-item" [matMenuTriggerFor]="menu">
          <span>My Orders</span>
          <mat-icon>dialpad</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <a routerLink="orders/order-history" mat-menu-item>Order History</a>
          <a routerLink="orders/ordered-items" mat-menu-item>Ordered Items</a>
        </mat-menu>
      </ng-template>

      <ng-template #authLinks>
        <button mat-button routerLink="/signin" class="nav-item">Signin</button>
        <button mat-button routerLink="/signup" class="nav-item">Signup</button>
      </ng-template>

      <button mat-button class="nav-item" routerLink="/cart">
        <i class="fa fa-shopping-cart"></i>
        <mat-icon>shopping_cart</mat-icon>
      </button>

      <button
        fxShow="false"
        fxShow.xs="true"
        mat-button
        class="nav-item menu-icon"
      >
        &#9776;
      </button>
    </div>
  </nav>
</header>
