@import '../../../styles/colors/color-palettes.scss';

.title {
  font-size: 20px;
}

.price {
  color: map-get($map: map-get($theme-colors, 'accent'), $key: 'main');
  font-size: 16px;
}

.image-container {
  display: 'flex';
  position: 'relative';
  justify-content: center;
  box-sizing: border-box;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.7s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.7s ease-in-out;
  &:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.7);
  }
}

.card-content {
  padding: 10px;
}
