<div class="card">
  <div class="image-container">
    <img src="{{ itemImage }}" alt="{{ itemName }}" class="image" />
  </div>
  <div class="card-content">
    <mat-card-title class="title">{{ itemName }}</mat-card-title>
    <mat-card-subtitle class="price"
      >N{{ itemPrice
      }}{{ !itemPrice?.includes('.00') && '.00' }}</mat-card-subtitle
    >
    <app-button classNames="btn btn-lg chubby" label="Add to cart"></app-button>
  </div>
</div>
