@import '../../../styles/fonts/font-functions.scss';
@import 'sass-rem';

.hero {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  display: flex;
  color: white;
  @include theme-text('lg');
}

.dark-overlay {
  position: relative;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
  font-size: rem(38px);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
