<div class="hero">
  <div class="dark-overlay">
    <div class="flex-container">
      <div class="hero-content">
        <div>The craziest pizza's on the planet</div>
      </div>
    </div>
  </div>
</div>
