// functions
@import '../../../styles/colors/color-functions.scss';
@import 'sass-rem';

nav {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.toolbar {
  // background: theme-color();
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  color: white;
  height: rem(50px);
  padding: rem(20px);
  box-sizing: border-box;
}

.title {
  font-weight: bold;
  font-size: 110%;
}
