@import './font-sizes.scss';

@function text-size($level) {
  @return map-get(map-get($text-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(map-get($text-settings, $level), 'line-height');
}

@mixin theme-text($level: 'default') {
  font-size: text-size($level);
  line-height: line-height($level);
}
