$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;

$text-settings: (
  'xs': (
    font-size: 0.75rem /* 12px */,
    line-height: $base-line-height,
  ),
  'sm': (
    font-size: 0.875rem /* 14px */,
    line-height: $base-line-height,
  ),
  'default': (
    font-size: 1rem /* 16px */,
    line-height: $base-line-height,
  ),
  'md': (
    font-size: 1.125rem /* 18px */,
    line-height: $base-line-height * 2,
  ),
  'lg': (
    font-size: 1.25rem /* 20px */,
    line-height: $base-line-height * 2,
  ),
  'xl': (
    font-size: 1.5rem /* 24px */,
    line-height: $base-line-height * 2,
  ),
);
