@import '../../styles/colors/color-functions.scss';

footer {
  background: theme-color();
  font-size: 16px;
  height: 45px;
  bottom: 0;
  width: 100%;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
