@import './color-palettes.scss';
@import './color-config.scss';

@function theme-color($key: $default-key, $variant: $default-variant) {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}

@function contrast($background: 'light', $type: 'primary') {
  $map: map-get($contrast-colors, $background);
  @return map-get($map, $type);
}

@mixin text-color($background: 'light', $type: 'primary') {
  color: contrast($background, $type);
}
