<div class="pizza-wrapper">
  <div class="pizza-overlay"></div>
  <div class="items-wrapper">
    <div fxLayout="column">
      <div fxLayout="column" class="mb-10">
        <app-toolbar title="Pizza Combo Packs" color="accent"></app-toolbar>
        <mat-card fxLayout="row wrap" fxLayoutGap="20px grid" fxFlexFill>
          <app-item-card
            *ngFor="let item of pizzaMenu"
            itemName="{{ item.name }}"
            itemPrice="{{ item.price }}"
            itemImage="{{ item.image }}"
            fxFlex="33.3"
          ></app-item-card>
        </mat-card>
      </div>

      <div fxLayout="column" class="mb-10">
        <app-toolbar
          title="Fruit Drinks and Smoothies"
          color="accent"
        ></app-toolbar>
        <mat-card fxLayout="row wrap" fxLayoutGap="20px grid" fxFlexFill>
          <app-item-card
            *ngFor="let item of drinksMenu"
            itemName="{{ item.name }}"
            itemPrice="{{ item.price }}"
            itemImage="{{ item.image }}"
            fxFlex="33.3"
          ></app-item-card>
        </mat-card>
      </div>
    </div>
  </div>
</div>
