.pizza-wrapper {
  min-height: 100vh;
  padding: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://previews.123rf.com/images/volyk/volyk1805/volyk180500071/101000187-seamless-pattern-with-the-ingredients-for-pizza-isolated-on-white-background.jpg');
}

.pizza-overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(155, 155, 155, 0.9);
}

.items-wrapper {
  position: relative;
  background-color: rgba(255, 255, 255, 0.753);
  padding: 50px;
}

.card {
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
}

.mb-10 {
  margin-bottom: 20px;
}
