/* You can add global styles to this file, and also import other style files */
// @import 'normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import './app/styles/colors/color-palettes.scss';
@import './app/styles/colors/colors.scss';
@import './app/styles/colors/color-functions.scss';

html {
  background: #f4f6f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  color: #313131;
  font-weight: 300;
  width: 100%;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f4f5f7;
}

.container {
  min-height: calc(100vh - 95px);
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  height: inherit;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.flex-item {
  flex: 1;
  margin: 10px;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.primary {
  background: $primary;
  @include text-color('dark', 'main');
}

.accent {
  background: $accent;
  @include text-color('dark', 'main');
}

.affluent {
  background: $affluent;
  @include text-color('dark', 'main');
}
